// Navigation code here
.top-main{
    background-color: @nav-bg;
    .top-nav {
        width: 800px;
        margin: auto;
        padding: 15px 0;
        display: flex;
        justify-content: center;

        h1 {
    font-size: x-large;
        }

        nav{
            align-content: space-between;
        }
    }
}    